<!DOCTYPE HTML>
<html lang="en">
<head>
	<title><%=sing.title%></title>
	<meta charset="UTF-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
  			<li><a href="/sings">Canciones</a></li>
  			<li><a href="/sings/add">Registrar Cancion</a></li>
  		</ul>
  	</nav>
	<h1><%=sing.title%></h1>
	<h1><%=sing.artist%></h1>
	


</body>
</html>