<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Lista de Canciones</title>
	<meta charset="UTF-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Canciones</h1>
	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
  			<li><a href="/sings">Canciones</a></li>
  			<li><a href="/sings/add">Registrar Cancion</a></li>
  		</ul>
  	</nav>
	<ul>
		<!--
		Linea 15		  <- Indican condicion
		Linea 16 <- Indican imprimir en pantalla
		
		 -->
		<% sings.forEach(function(sing){ %>
			<li><a href="/sings/<%= sing._id%>"><%= sing.title%></a></li>
		<%})%>
	</ul>
</body>
</html>