<!DOCTYPE HTML>
<html lang="en">
<head>
	<title><%=album.title%></title>
	<meta charset="UTF-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
  			<li><a href="/albums">Albums</a></li>
  			<li><a href="/albums/add">Registrar Albums</a></li>
  		</ul>
  	</nav>
	<h1>Titulo: <%=album.titulo%></h1>
	<h1>Genero: <%=album.genero%></h1>
	<h1>Productor: <%=album.productor%></h1>
	


</body>
</html>