<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Lista de Albumes</title>
	<meta charset="UTF-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Albumes</h1>
	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
  			<li><a href="/albums">Albums</a></li>
  			<li><a href="/albums/add">Registrar Album</a></li>
  		</ul>
  	</nav>
	<ul>
		<!--
		Linea 15		  <- Indican condicion
		Linea 16 <- Indican imprimir en pantalla
		
		 -->
		<% albums.forEach(function(album){ %>
			<li>
				<a href="/albums/<%= album._id%>"><%= album.titulo%></a>
				<a href="/albums/edit/<%= album._id%>">Editar</a>
				<a href="/albums/<%= album._id%>">Borrar</a>
			</li>
		<%})%>
	</ul>
</body>
</html>