<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
  		<ul>
  			<li><a href="/artists">Artistas</a></li>
  			<li><a href="/artists/add">Registrar nuevo Artista</a></li>
  		</ul>
  	</nav>
    <h1><%= title %></h1>
    <p>Bienvenido que quieres hacer <%= title %></p>

  </body>
</html>
