<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
        <li><a href="/artists">Artistas</a></li>
  			<li><a href="/artists/add">Registrar nuevo Artista</a></li>
        <li><a href="/sings">Canciones</a></li>
        <li><a href="/sings/add">Registrar Cancion</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/albums/add">Registrar Album</a></li>
  		</ul>
  	</nav>
    <h1><%= title %></h1>
    <p>Bienvenido que quieres hacer en <%= title %></p>

  </body>
</html>
