<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Add</title>
	<meta charset="UTF-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
  			<li><a href="/sings">Canciones</a></li>
  			<li><a href="/sings/add">Registrar Cancion</a></li>
  		</ul>
  	</nav>
	<form action="/sings" method="post">
		<input type="text" name="title">
		<input type="text" name="artist">
		
		<input type="submit">
	</form>
</body>
</html>